<p>
  You have been invited to help decide a meeting time and location for <%= meetingName %>.
  Respond to the EZPick at the link below.

  <%= link_to(responseLink) %>

  If this invitation was sent in error, please ignore it. 
</p>
