<p>
  You have been invited to help decide a meeting time and location for <%= meetingTitle %>.
  Respond to the EZPick at the link below.
</p>

<p>
  <a href="<%= responseLink %>">Click here to respond</a>
</p>

<p>
  If this invitation was sent in error, please ignore it.
</p>
